/* Dashboard.module.css */
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 250px
}

.dashboardExtra {
    height: 250px; /* Example height */
    width: 100%;
}

.menuOptions {
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    gap: 30px; 
}

.box {
    height: 150px;
    width: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxLink {
    text-decoration: none;
    color: inherit; 
}
  
.boxLink:hover {
    cursor: pointer;
    opacity: 0.8; 
}
