
.navContainer {
    background: grey;
    height: 100vh;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
}

.itemContainer {
    height: 140px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemName {
    padding: 0;
    margin: 0;
    font-size: 17pt;
    font-weight: 500
}

.icon {
    display: flex;
    justify-self: center;
    padding:0;
    margin:0
}

.boxLink {
    text-decoration: none;
    color: inherit; 
}
  
.boxLink:hover {
    cursor: pointer;
    opacity: 0.8; 
}

.profilePhotoContainer {
    height: 80px;
    width: 80px;
    background-color: rgb(32, 32, 32);
    border-radius: 50%;
    overflow: hidden;
}

.image {
    object-fit: cover;
    width: 100%;
}

