
.navContainer {
    background: grey;
    height: 100vh;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20;
}

.itemContainer {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profilePhotoContainer {
    height: 80px;
    width: 80px;
    background-color: rgb(32, 32, 32);
    border-radius: 50%;
}

.itemName {
    padding: 0;
    margin: 0;
}

.icon {
    display: flex;
    justify-self: center;
}

.boxLink {
    text-decoration: none;
    color: inherit; 
}
  
.boxLink:hover {
    cursor: pointer;
    opacity: 0.8; 
}
